<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电影展示</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/wap.css">
</head>

<body ng-app="moviecat">
    <!-- 顶部导航栏开始 -->
    <div class="top" ng-controller="searchController">
        <div class="header">
            <a href="#/home_page"><img src="assets/img/logo.jpg" alt="" width="150" height="60"></a>
            <div class="search">
                <form ng-submit="search()">
                    <input class="my-input" type="text" placeholder="电影搜索" ng-model="keyWords">
                    <button>搜索</button>
                </form>
            </div>
        </div>
        <nav class="nav" style="background-color:gray">
            <ul>
                <!--li中添加 active 类样式，显示焦点状态。-->
                <!--<li ng-click="showOut(1)"  ng-class="{active:type==1}"><a href="#/home">首页</a></li>
                <li ng-click="showOut(2)"  ng-class="{active:type==2}"><a href="#/in_theaters">正在热映</a></li>
                <li ng-click="showOut(3)"  ng-class="{active:type==3}"><a href="#/coming_soon">即将上映</a></li>
                <li ng-click="showOut(4)"  ng-class="{active:type==4}"><a href="#/top250">Top250</a></li>-->


                <li class="active" change-show><a href="#/home">首页</a></li>
                <li change-show><a href="#/in_theaters">正在热映</a></li>
                <li change-show><a href="#/coming_soon">即将上映</a></li>
                <li change-show><a href="#/top250">Top250</a></lichangeShow>
            </ul>
        </nav>
    </div>
    <!-- 顶部导航栏结束 -->
    <div class="container" ng-view>


    </div>
    <footer class="footer">
        <div class="container">
            <p>版权所有&copy; 沙师弟互联网科技公司</p>
        </div>
    </footer>
    <script src="assets/js/prefixfree.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./details/details.js"></script>
    <script type="text/javascript" src="./service/service.js"></script>
    <script type="text/javascript" src="./movie_list/move_list.js"></script>
    <script src="./home/home.js"></script>
    <script src="app.js"></script>
</body>

</html>